{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% include 'partials/_navbar.html' %}
<div class="topbar">
   <h1>Write your book Review</h1>
  <div>
    <div class="viewslider">
      <a href="{% url 'bookreview_list' %}">View All</a>
    </div>
<div class="main">
<form action="" method = "POST">
  {% csrf_token %}
    <table>
      {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
          <td>
            {{ field.errors }}
            {% if field.html_name == 'start_date' or field.html_name == 'end_date' %}
              {%  render_field  field placeholder="YYYY-MM-DD" %}
             {% else %}
              {{ field }}
            {% endif %}
            {{ field.help_text }}
          </td>
      </tr>
      {% endfor %}

    </table>
<input type="submit" name="create" value="CREATE" id="submit">
</form>

</div>
{% endblock %}
