{% extends 'base.html' %}
{% block content %}

<div class="reviewlist">
  {% if messages %}
   <div class="messages">
     <ul>
       {% for message in messages %}
     <li class="{{ message.tag }}">
       {{ message }}
     </li>

       {% endfor %}
     </ul>
   </div>
  {% endif %}
{% if object_list %}
 <h1>Recent Reviews</h1>
 <ul>
   {% for book in object_list %}
     <li>
       <a href="{% url 'review_detail' book.id %}">{{ book.title }}</a>
     </li>
   {% endfor %}
 </ul>
 {% else %}
  <h1>No Recent Book Reviews</h1>
{% endif %}
<a href="{% url 'index' %}"style="background-color:#A64AC9;color:#FCCD04;border-radius:10px;padding:12px;"><< Go Back</a>
<a href="{% url 'create' %}" style="background-color:#A64AC9;color:#FCCD04;border-radius:10px;padding:12px;">Create New</a>
</div>
<div class="reviewcontent">
</div>
{% endblock %}
